[Desktop Entry]
Name=Resize window to 1/3 or 2/3
Comment=Set the size of the current window to 1/3 or 2/3 of screen, pos L or R
Icon=preferences-system-windows-script-test
Type=Service

X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginInfo-Author=François Richardson
X-KDE-PluginInfo-Name=kwin-thirds-two-thirds
X-KDE-PluginInfo-Version=0.1
